<!--This page is coded by Mohammed Zahid Wadiwale and is intellectual property of Zahid Servers-->
<?php session_start();?>
<style>

body {
  margin: 0;
  background-color:#4ca3dd;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
html {
    max-width: 100%;
    overflow-x: hidden;
}
.header {
  background-color: #E6E6FA;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #2d3436;
  background-image: linear-gradient(185deg, #2d3436 0%, #000000 74%);}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding-top: 1px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:+1;
}

.sticky + .content {
  padding-top: 60px;
}
.alumini{
background-color: #4CAF50;
}
@media(max-width:760px)
{
.search{
display:none;
}
.logo{
line-height:10px;
font-size:15px;
}
.logoscj{
line-height:10px;
font-size:15px;
}
}
@media(max-width:526px)
{
.logo{
display:none;
}
.nonetitle{
display:inline-block;
}
.headerz{
height:100px;
}
.sticky{
width:100%;

}
}
@media(min-width:526px)
{
.nonetitle{
display:none;
}
.headerz{
height:80px;
}
.sticky{
}
}
</style>
